@import url('../fonts/NanumSquare/nsquare.css');

/* reset */
body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,th,td,form,fieldset,legend,input,label,textarea,select,button {margin: 0; padding: 0;}
body,h1,h2,h3,h4,h5,h6 {font-size: 12px; font-family: 'NanumSquare',"돋움",dotum,sans-serif; color: #333;}
a {text-decoration: none; color: #333;}
ul,ol,li {list-style: none;}
img,fieldset {border: none; vertical-align: middle;}
strong,em,address {font-weight: normal; font-style: normal;}
table {border-collapse: collapse;}
/* common */

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

/*layout */
.box_width {
    width: 1160px;
    margin: 0 auto;
}
#wrap {
    min-width: 1160px;
}
#headerWrap {
    width: 100%;
    border-top: 10px solid #1a2f77;
}
#header {
    height: 205px;
    position: relative;
}

/* header */
.logo {
    width: 272px;
    height: 60px;
    margin: 0 auto;
    padding-top: 30px;
}

.t_menu {
    position: absolute;
    right: 44px;
    top: 24px;
}
.t_list {
    height: 20px;
}
.t_list li {
    float: left;
}
.t_list .Brand {
    background: url(../img/brand_img.png)no-repeat center;
    padding-left: 65px;
    font-size: 15px;
    font-weight: 700;
}
.t_list .Brand:after {
    content: "";
    display: block;
    position: absolute;
    left: 117px;
    top: 5px;
    width: 12px;
    height: 7px;
    background: url(../img/arrow.png) no-repeat;
}
.t_list .lang {
    padding-left: 35px;
    font-size: 15px;
    font-weight: 700;
}
.t_list .lang:after {
    content: "";
    display: block;
    position: absolute;
    left: 180px;
    top: 5px;
    width: 12px;
    height: 7px;
    background: url(../img/arrow.png) no-repeat;
}



.gnb {
    padding-top: 56px;
    width: 1160px;
    height: 55px;
    margin: 0 auto;
}
.gnb li {
    float: left;
    text-align: center;
    width: 25%
}
.gnb li:last-child {
    padding-right: 0;
}
.gnb li a {
    font-size: 20px;
    font-weight: 700;
}
.m_btn {
    display: none;
}

/* footer */
#footerWrap {
    padding-bottom: 30px;
    background-color: #202020;
}
#footer {}
.fcon1 {
    height: 160px;
    padding-top: 60px;
    margin-bottom: 85px;
}
.fcon1 .sm_box {
    float: left;
    width: 290px;
    color: #fff;
    text-align: center;
}
.fcon1 .sm_box h3 {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
}
.fcon1 .sm_box h3 span {
    display: block;
    margin-bottom: 35px;
}
.fcon1 .sm_box p {
    height: 75px;
    font-size: 15px;
    font-weight: 500;
}
.fcon1 .sm_box .QA {
    width: 68px;
    height: 51px;
    background: url(../img/QA.png) no-repeat center;
    overflow: hidden;
    text-indent: -9999px;
    display: inline-block;
}
.fcon1 .sm_box .FAQ {
    width: 67px;
    height: 57px;
    background: url(../img/FAQ.png) no-repeat center;
    overflow: hidden;
    text-indent: -9999px;
    display: inline-block;
}

.fcon2 {
    height: 135px;
}
.fcon2 .contact {}
.ct_left {
    float: left;
}
.ct_left address {
    float: left;
}
.ct_left address .email {
    color: #fff;
    font-size: 15px;
    float: left;
    margin-left: 20px;
}
.f_logo {
    float: left;
}
.addr {
    float: left;
    margin-top: 9px;
}
.ct_left address img {
    padding-left: 65px;
}
.ct_left li {
    float: left;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    padding-left: 20px;
}
.ct_left li:first-child:after {
    content: "";
    border-right: 1px solid #fff;
    padding-right: 20px;
}
.ct_left .color {
    color: #72c0ef;
}
.ct_left p {
    float: left;
    clear: both;
    color: #fff;
    padding-left: 225px;
    font-size: 13px;
    margin-bottom: 10px;
}
.ct_left p:last-child {
    margin-bottom: 0px;
    margin-top: 10px;
}
.ct_left p span {
    padding-left: 15px;
}
.ct_left p .info {
        padding-left: 0;
}
.ct_right {
    float: right;
    width: 300px;
}
.sns {
    margin-top: 40px;
}
.sns li {
    float: left;
    margin-right: 40px;
}

.sns li:last-child {
    margin-right: 0;
}























