@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* reset */
body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,th,td,form,fieldset,legend,input,label,textarea,select,button {margin: 0; padding: 0;}
body,h1,h2,h3,h4,h5,h6 {font-size: 12px; font-family: 'Noto Sans KR',"돋움",dotum,sans-serif; color: #333;}
a {text-decoration: none; color: #333;}
ul,ol,li {list-style: none;}
img,fieldset {border: none; vertical-align: middle;}
strong,em,address {font-weight: normal; font-style: normal;}
table {border-collapse: collapse;}

/* common */

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

/* layout */
.box_width {
	width: 1200px;
	margin: 0 auto;
}
#wrap {
	min-width: 1500px;
	position: relative;
}
#wrap .bg1 {
	width: 238px;
	height: 837px;
	background: url(../img/left_top.png) no-repeat;
	position: absolute;
	left: 0;
	top: 125px;
}
#wrap .bg2 {
	width: 278px;
	height: 1005px;
	background: url(../img/right_top.png) no-repeat;
	position: absolute;
	right: 0;
	top: 125px;
}
#wrap .bg2_s {
	width: 278px;
	height: 310px;
	background: url(../img/right_top_s.png) no-repeat;
	position: absolute;
	right: 0;
	top: 125px;
}
#wrap .bg3 {
	width: 302px;
	height: 961px;
	background: url(../img/left_bottom.png) no-repeat;
	position: absolute;
	left: 0;
	bottom: 0;
}
#wrap .bg3_s {
	width: 302px;
	height: 281px;
	background: url(../img/left_bottom_s.png) no-repeat;
	position: absolute;
	left: 0;
	bottom: 0;
}
#wrap .bg4 {
	width: 326px;
	height: 724px;
	background: url(../img/right-bottom.png) no-repeat;
	position: absolute;
	right: 0;
	bottom: 0;
}


#headerWrap {}
#header {
	height: 125px;
	position: relative;
}

/* header */
.logo {
	width: 278px;
	height: 64px;
	position: absolute;
	top: 30px;
	left: 0;
}

.gnb {
	padding-top: 65px;
}
.gnb .g_list {
	float: right;
}
.gnb .g_list li {
	float: left;
}
.gnb .g_list li a {
	font-size: 25px;
	font-weight: 700;
	padding-right: 100px;
}
.gnb .g_list li:first-child a {
	padding-right: 104px;
}
.gnb .g_list li:last-child a {
	padding-right: 50px;
}
.gnb .g_list .on a {
	color: #fe8e20;
}
.gnb .g_list li a:hover {
	color: #fe8e20;
}

/* Contents */
#Contents {
	background-color: #f2e9d8;
}
#nav {}
.port_list {
	width: 1200px;
	height: 140px;
	margin: 0 auto;
	margin-bottom: 40px;
}
.port_list li {
	position: relative;
	float: left;
	margin-top: 45px;
}
.port_list li:first-child a {
	margin-left: 110px;
}
.port_list li:last-child a {
	padding-right: 0;
}

.port_list li a {
	position: relative;
	color: #444444;
	font-size: 30px;
	font-weight: 500;  /* medium */
	display: block;
	padding-right: 130px;
	z-index: 10;
}

.port_list li:hover:after,.port_list .on:after {
	content: "";
	width: 115px;
	height: 99px;
	background: url(../img/click_hover.png) no-repeat;
	position: absolute;
	left: 75px;
	top: -25px;
}

.port_list .on a {
	animation: move_tab ease 3s infinite;
}
.port_list .on:after {
	animation: move_tab ease 3s infinite;
}
@keyframes move_tab {
	0% {transform:translateY(0);}
	50% {transform:translateY(15px);}
	100% {transform:translateY(0);}
}



.port_list li:nth-child(2):after {
	left: 40px;
}
.port_list li:nth-child(3):after {
	left: 50px;
}
.port_list li:nth-child(4):after {
	left: 5px;
}

.top_Btn a {
	width: 115px;
	height: 99px;
	background: url(../img/top_btn.png) no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	position: absolute;
	right: 385px;
	bottom: 95px;
	animation: move ease 3s infinite;
}

@keyframes move {
	0% {transform:translateY(0);}
	50% {transform:translateY(30px);}
	100% {transform:translateY(0);}
}

/* footer */
#footerWrap {
	padding-top: 100px;
	background: #f2e9d8;
}
#footer {
	padding-top: 10px;
	height: 200px;
}
.f_logo {
	text-align: center;
	
}
.f_logo p {
	font-size: 20px;
	font-weight: 700;
}
.f_logo span {
	margin: 0 auto;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	width: 271px;
	height: 25px;
	border-bottom: 2px solid #000;
}























