@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* reset */
body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,th,td,form,fieldset,legend,input,label,textarea,select,button {margin: 0; padding: 0;}
body,h1,h2,h3,h4,h5,h6 {font-size: 12px; font-family: Roboto Slab; color: #333;}
a {text-decoration: none; color: rgb(187, 187, 187);}
ul,ol,li {list-style: none;}
img,fieldset {border: none; vertical-align: middle; /*padding-bottom: 50px;*/}
strong,em,address {font-weight: normal; font-style: normal;}
table {border-collapse: collapse;}


/* common */
.clearfix:after {
    content: "";
    clear: both;
    display: block;
}


/* layout */
.box_width {
	width: 1200px;
	margin: 0 auto;
}
#wrap {
	min-width: 1500px;
	position: relative;
}

#header {
	width: 100%;
	background-color: #f9f9f9;
	padding-bottom: 80px;
    padding-top: 50px;
	/*position: relative;
    padding-bottom: 10px; */
}

/* header */
.logo {
	max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.gnb {
	height: 34px;
	text-align: center;

}

.gnb .g_list {
	/*float: right;  */
	padding-top: 50px;
}

.gnb .g_list li {
	display: inline-block;
}

.gnb .g_list li a {
	font-size: 30px;
	font-weight: 400;
    padding-right: 100px;
}

.gnb .g_list li:last-child a {
	padding-right: 0px;
}

.gnb .g_list .on a {
    font-weight: 400;
	color: rgb(68, 68, 68);
}

/* Contents */
#Contents {
	background-color: #fff;
}

.padding {
    padding-bottom: 50px;
    display: block;
    overflow: hidden;
	text-indent: -9999px;
}

.port_list {
	width: 1400px;
	height: 150px;
	margin: 0 auto;
	margin-bottom: 40px;
    padding-top: 50px;
}
.port_list li {
	position: relative;
	float: left;
	margin-top: 45px;
}
.port_list li:first-child a {
	margin-left: 110px;
}
.port_list li:last-child a {
	padding-right: 0;
}

.port_list li a {
	position: relative;
	color: #6a767e;
	font-size: 30px;
	font-weight: 500;  /* medium */
    font-family: Bree Serif;
	display: block;
	padding-right: 130px;
	z-index: 10;
}

/* footer */
.top_Btn{
	clear: both;
	display: block;
	padding-bottom: 100px;
	padding-top: 50px;
	text-align: center;
}

.top_Btn a {
	color: rgb(153, 153, 153);
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
}

.top_Btn .arrow{
	display: inline-block;
	margin-right: 10px;
}