/* main Contents */
.project_list {
	padding-top: 100px;
	padding-bottom: 100px;	
}
.project_list li {
	float: left;
	text-align: center;
	margin-bottom: 60px;
	margin-left: 131px;
	position: relative;
}
.project_list li a {
	display: block;
	width: 425px;
	height: 294px;
	margin-bottom: 27px;
}
.project_list li h2 {
	font-size: 24px;
	font-weight: 400;
	font-family: Kanit;
    color: rgb(68, 68, 68);
	margin-bottom: 5px;
}
.project_list li p {
	font-size: 18px;
	font-weight: 400;
	font-family: Noto Sans KR;
    color: rgb(99, 99, 99);
}


/* paging */
.paging_number {
	text-align: center;
	position: relative;
}

.Btn_l {
	background: url(../img/arrow_left.png) no-repeat;
	width: 30px;
	height: 30px;
	overflow: hidden;
	text-indent: -9999px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	left: 0;
	top: 0;
}
.Btn_r {
	background: url(../img/arrow_right.png) no-repeat;
	width: 30px;
	height: 30px;
	overflow: hidden;
	text-indent: -9999px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	left: 0;
	top: 0;
}

.paging {
	width: auto;
	display: inline-block;
	position: relative;
	left: 0;
	top: -5px;
}
.paging .on {
	color: #6a767e;
    font-weight: bold;
	border-bottom: 3px solid #6a767e;
    padding-bottom: 5px;
}
.paging li {
	display: inline-block;
	height: 40px;
	cursor: pointer;
	font-size: 35px;
    font-family: Chalkboard;
	color: #9ea5a8;
	margin: 0 50px;
}

/* sub_portfolio page_Contents */
.sub_img {
	margin: 0 auto;
	padding-top: 50px;
}

.img_long {
	padding-top: 100px;
}


/* sub_contact page*/
.contact {
	width: 100%;
	height: 1080px;
	background: url(../img/CONTACT.png) no-repeat center;
}


/* sub_about page */
.about {
	width: 100%;
	height: 1080px;
	background: url(../img/about.png) no-repeat center;
}

/* link txt */

.link-txt-box {
	display: flex;
	align-items: center;
	justify-content: center
}

.link-txt{
	font-size: 20px;
	font-family: Noto Sans KR;
	color: #333;
}