@import url('../fonts/NanumSquare/nsquare.css');

/* reset */
body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,th,td,form,fieldset,legend,input,label,textarea,select,button {margin: 0; padding: 0;}
body,h1,h2,h3,h4,h5,h6 {font-size: 12px; font-family: 'NanumSquare',"돋움",dotum,sans-serif; color: #333;}
a {text-decoration: none; color: #333;}
ul,ol,li {list-style: none;}
img,fieldset {border: none; vertical-align: middle;}
strong,em,address {font-weight: normal; font-style: normal;}
table {border-collapse: collapse;}
/* common */

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

/* layout */
.box_width {
	width: 1160px;
	margin: 0 auto;
}
#wrap {
	min-width: 1160px
}
#headerWrap {
	background: url(../img/background-color.png) repeat-x;
	
}
#header {
	height: 253px;
	position: relative;
}

/* header */
.logo {
	width: 542px;
	height: 62px;
	position: absolute;
	top: 74px;
	left: 25px;
}

.t_menu {
	padding-top: 12px;
}
.t_menu .t_list1 {
	float: left;
}
.t_menu .t_list1 .home {
	background: url(../img/home.png) no-repeat 40px 0;
}
.t_menu .t_list1 > li {
	float: left;
	padding-left: 70px;
	font-weight: 300;
}
.t_menu .t_list1 li:last-child {
	padding-left: 45px;
}
.t_menu .t_list1 li a {
	font-size: 15px;
	color: #fff;
}

.t_menu .t_list2 {
	float: right;
}
.t_menu .t_list2 li {
	float: left;
}
.t_menu .t_list2 li a {
	font-size: 13px;
	padding-right: 40px;
	color: #fff;
}

.sch_form {
	float: right;
	margin-top: 67px;
    margin-right: 25px;
	clear: both;
	overflow: hidden;
}
.sch_form .m_sch {
	border: 2px solid #392e25;
	background: #fff;
	width: 346px;
    height: 33px;
}
.sch_form input {
	width: 280px;
    height: 33px;
	font-size: 15px;
	padding-left: 28px;
    border:none;
    float: left;
	background: none;
}
.sch_form #schBtn {
	float: left;
    width: 22px;
    height: 30px;
	border: none;
    background: url(../img/sch.png) no-repeat center;
    text-indent: -9999px;
    overflow: hidden;
	margin-top: 1px;
	cursor: pointer;
}
.sch_form #closeBtn {
	display:none;
}


#nav {}
.gnb {
	position: relative;
	width: 1160px;
	margin: 0 auto;
	clear: both;
}
.gnb li {
	float: left;
}
.gnb li a {
	margin-top: 39px;
	color: #4b3929;
	font-size: 20px;
	display: block;
	padding: 0 25.5px;
}
.gnb li a span {
	margin-left: 5px;
	display: block;
	width: 18px;
	height: 22px;
	border-radius: 8px;
	background-color: #72845e;
	text-align: center;
	line-height: 22px;
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	position: absolute;
	top: 38px;
	right: 25px;
}

/* footer */
#footerWrap {
	background-color: #798d62;
	padding: 44px 0;
}
#footer {
	text-align: center;
}

.footer_link {
	display: inline-block;
	margin-bottom: 23px;
}
.footer_link li {
	float: left;
}
.footer_link li a {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
.footer_link li:after {
	content: "";
	display: inline-block;
	width: 2px;
	height: 18px;
	background-color: #aebaa1;
	margin: 0 45px;
}
.footer_link li:last-child:after {
	background: none;
	margin: 0;
}

.addr {
	margin-bottom: 30px;
	text-align: center;
}
.addr ul {
	display: inline-block;
}
.addr li {
	color: #fff;
	float: left;
	font-size: 15px;
	font-weight: 500;
	padding-right: 30px;
}
.addr li:last-child {
	padding-right: 0;
}

.footer_last {
	height: 51px;
	margin: 0 auto;
}
.txt {
	float: left;
}
.txt p {
	color: #fff;
	font-size: 13px;
	font-weight: 300;
	text-align: left;
	padding-top: 10px;
}

.sns {
	position: relative;
}
.sns .facebook {
}
.sns .facebook a {
	display: block;
	height: 50px;
	width: 51px;
	background: url(../img/facebook.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
	right: 245px;
	top: 0px;
}
.sns .instagram {
	float: right;
}
.sns .instagram a {
	display: block;
	height: 50px;
	width: 51px;
	background: url(../img/insta.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
	right: 110px;
	top: 0px;
}

.m_footer {
	color: #fff;
	display: none;
}
















